@charset "UTF-8";

/* DEFAULT */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

/* GLOBAL STYLE */
body {
    overflow: hidden;
}

#loading {
    background-color: #23262e;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: 1.0s ease opacity;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 99;
}

#loadingText {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 75%;
}

#pointerLockOverlay {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 1;
}

#fpsGraph {
    z-index: 0 !important;
}

#rendererStats {
    cursor: pointer;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 10vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#controlsDetail {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
    display: block;
    line-height: 22px;
    padding: 8px 24px 8px 12px;
    white-space: pre;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 14vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#keyToggle {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
    display: block;
    line-height: 22px;
    padding: 8px 12px;
    white-space: pre;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    min-width: 14vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-align: center;
}

#redLaserSight {
    background-color: #f00;
    border-radius: 100%;
    display: none;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 6px;
    height: 6px;
}

.hideFPS {
    display: none !important;
}
